
openapi: 3.0.3
x-stoplight:
  id: ey9ducwgy1udv
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the IDP Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
  contact:
    name: API Support
    email: contact@harness.io
    url: 'https://harness.io/'
servers:
  - url: 'https://app.harness.io'
paths:
  /v1/backstage-env-variables:
    get:
      summary: List Backstage Env Variables
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      operationId: get-backstage-env-variables
      description: Get all backsage env variables mapping for a given account
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
      security:
        - x-api-key: []
      x-internal: true
      tags:
        - BackstageEnvVariable
  /v1/backstage-env-variables/sync:
    put:
      summary: Sync Backstage Environment Variables
      operationId: sync-backstage-env-variables
      description: Synchronize all backstage environment variables mapping for a given account
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '204':
          description: No Content
      tags:
        - BackstageEnvVariable
  '/v1/backstage-env-variables/{backstage-env-variable}':
    parameters:
      - $ref: '#/components/parameters/BackstageEnvVariable'
    get:
      summary: Get Backstage Environment Variable
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      operationId: get-backstage-env-variable
      description: Get backstage environment variable mapping for a given backstage env variable
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - BackstageEnvVariable
    put:
      summary: Updates a backstage env variable
      operationId: update-backstage-env-variable
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableRequest'
      description: Updates the specified backstage env variable
      x-internal: true
      tags:
        - BackstageEnvVariable
  /v1/backstage-env-variables/batch:
    post:
      summary: Creates Multiple backstage env variables
      operationId: create-backstage-env-variables
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Creates multiple backstage env variables
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableBatchRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - BackstageEnvVariable
    put:
      summary: Updates Multiple backstage env variables
      operationId: update-backstage-env-variables
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Updates the multiple backstage env variables specified in the request
      x-internal: true
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableBatchRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - BackstageEnvVariable
    delete:
      summary: Deletes Multiple backstage env variables
      operationId: delete-backstage-env-variables
      responses:
        '204':
          description: No Content
      description: Deletes the multiple backstage env variables specified in the request
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: backstage-env-variable
          description: Identifier field of backstage env variable
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - BackstageEnvVariable
  /v1/backstage-env-variables/resolve:
    get:
      summary: Resolve Backstage Environment Variables
      tags:
        - BackstageEnvVariable
      responses:
        '200':
          $ref: '#/components/responses/ResolvedEnvVariableResponse'
      operationId: resolve-backstage-env-variables
      description: Returns a list of backstage env variables with their decrypted values for the given account
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Namespace'
      security:
        - x-api-key: []
  '/v1/backstage-env-variables/reload/{namespace}':
    put:
      summary: Reload backstage env variables
      operationId: reload-backstage-env-variables
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: 2atylhkq79myt
      description: Reload backstage env variables
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - BackstageEnvVariable
    parameters:
      - $ref: '#/components/parameters/NamespacePathParam'
  /v1/backstage-permissions:
    get:
      summary: Get Backstage Permissions
      responses:
        '200':
          $ref: '#/components/responses/BackstagePermissionsResponse'
      operationId: get-backstage-permissions
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Get all backstage permissions for a given account
      security:
        - x-api-key: []
      x-internal: true
      tags:
        - BackstagePermissions
    post:
      summary: Create backstage Permissions
      operationId: create-backstage-permissions
      responses:
        '201':
          $ref: '#/components/responses/BackstagePermissionsResponse'
      description: Creates backstage Permissions for a given account
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/BackstagePermissionsRequest'
      x-internal: true
      tags:
        - BackstagePermissions
    put:
      summary: Updates Backstage Permission
      operationId: update-backstage-permissions
      responses:
        '200':
          $ref: '#/components/responses/BackstagePermissionsResponse'
      description: Update Backstage Permission
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/BackstagePermissionsRequest'
      tags:
        - BackstagePermissions
  '/v1/status-info/{type}':
    parameters:
      - $ref: '#/components/parameters/StatusType'
    get:
      summary: Gets Status Info by type
      tags:
        - StatusInfo
      operationId: get-status-info-by-type
      description: Get status info for the given type
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/StatusInfoResponse'
      x-internal: true
    post:
      summary: Saves Status Info by type
      tags:
        - StatusInfo
      operationId: save-status-info-by-type
      responses:
        '201':
          $ref: '#/components/responses/StatusInfoResponse'
      description: Saves status info for the given type
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/StatusInfoRequest'
      x-internal: true
  '/v2/status-info/{type}':
    get:
      summary: Get Status Info by type
      description: Get Status Info for the given type
      tags:
        - StatusInfoV2
      responses:
        '200':
          $ref: '#/components/responses/StatusInfoResponseV2'
      operationId: get-status-info-type-v2
      x-stoplight:
        id: g2rre6x1jk36w
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/StatusType'
      security:
        - x-api-key: []
      x-internal: true
  /v1/namespace-info:
    get:
      summary: Get Namespace Info
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      operationId: get-namespace-info
      description: Get the corresponding customer namepsace using account id.
      x-internal: true
      security:
        - x-api-key: []
      tags:
        - Namespace
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Update Namespace Info
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      operationId: update-namespace-info
      description: Update the corresponding customer namespace using account id.
      x-internal: true
      security:
        - x-api-key: []
      tags:
        - Namespace
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NamespaceRequest'
    post:
      summary: Create Namespace
      operationId: create-namespace
      description: Create Namespace from accountId
      security:
        - x-api-key: []
      x-internal: true
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      tags:
        - Namespace
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/account-info/{namespace}':
    get:
      summary: Get Account Info
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      operationId: get-account-for-namespace
      description: Get account information for given namespace
      security:
        - x-api-key: []
      tags:
        - AccountInfo
      x-internal: true
    parameters:
      - schema:
          type: string
        name: namespace
        description: Backstage Namespace
        in: path
        required: true
  /v1/provision-idp:
    post:
      summary: Provision IDP
      operationId: provision-idp
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      tags:
        - Provision
      description: Provision IDP for given account
      security:
        - x-api-key: []
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/onboarding/harness-entities:
    get:
      summary: Get Harness Entities
      operationId: get-harness-entities
      responses:
        '200':
          $ref: '#/components/responses/HarnessEntitiesResponse'
      tags:
        - OnboardingResource
      x-internal: true
      description: Get Harness Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SearchTerm'
        - schema:
            type: string
          in: query
          name: project_to_filter
          description: This would be used to filter resources having attributes matching the project filter.
  /v1/onboarding/harness-entities-count:
    get:
      summary: Get Harness Entities Count
      operationId: get-harness-entities-count
      responses:
        '200':
          $ref: '#/components/responses/HarnessEntitiesCountResponse'
      description: Get Harness Entities Count
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - OnboardingResource
      x-internal: true
  /v1/onboarding/import-harness-entities:
    post:
      summary: Import Harness Entities to IDP
      operationId: import-harness-entities
      description: Import Harness Entities to IDP
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ImportHarnessEntitiesRequest'
      tags:
        - OnboardingResource
      responses:
        '200':
          $ref: '#/components/responses/ImportEntitiesResponse'
      x-internal: true
  /v2/onboarding/skip:
    post:
      operationId: post-onboarding-skip
      summary: Post onboarding skip
      description: Post onboarding skip
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/OnboardingSkipRequest'
      responses:
        '200':
          $ref: '#/components/responses/OnboardingSkipResponse'
      tags:
        - OnboardingV2
  /v2/onboarding/cd-entities-count:
    get:
      operationId: cd-entities-count
      summary: Get CD entities count
      description: Get CD entities count
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/OnboardingCdEntitiesCountResponse'
      tags:
        - OnboardingV2
  /v2/onboarding/cd-entities-fetch:
    post:
      operationId: cd-entities-fetch
      summary: Fetch CD entities as IDP entities for import
      description: Fetch CD entities as IDP entities for import
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/OnboardingCdEntitiesFetchRequest'
      responses:
        '200':
          $ref: '#/components/responses/OnboardingCdEntitiesFetchResponse'
      tags:
        - OnboardingV2
  /v2/onboarding/generate-yaml-def:
    post:
      operationId: generate-yaml-def
      summary: Generate YAML Definition for IDP
      description: Generate YAML Definition for IDP
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/OnboardingGenerateYamlDefRequest'
      responses:
        '200':
          $ref: '#/components/responses/OnboardingGenerateYamlDefResponse'
      tags:
        - OnboardingV2
  /v2/onboarding/import-cd-entities:
    post:
      operationId: import-cd-entities
      summary: Import CD Entities into IDP
      description: Import CD Entities into IDP
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/OnboardingImportCdEntitiesRequest'
      responses:
        '200':
          $ref: '#/components/responses/OnboardingImportCdEntitiesResponse'
      tags:
        - OnboardingV2
  /v2/onboarding/status:
    get:
      operationId: get-onboarding-status
      summary: Get Onboarding Status
      description: Get Onboarding Status
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/OnboardingStatusResponse'
      tags:
        - OnboardingV2
  /v1/layout:
    get:
      summary: List Layouts
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-all-layouts
      x-internal: true
      description: Get all layouts
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
    post:
      summary: Create layout
      operationId: create-layout
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      description: Create layout
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutRequest'
    delete:
      summary: Delete layout
      operationId: delete-layout
      responses:
        '200':
          description: Layout response
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LayoutResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutResponse'
      description: Delete layout
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
      requestBody:
        $ref: '#/components/requestBodies/LayoutRequest'
  '/v1/layout/{layout-identifier}':
    get:
      summary: Get layout
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-layout
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
      description: Get Layout
      x-internal: true
    parameters:
      - $ref: '#/components/parameters/LayoutIdentifier'
  /v1/layout/health:
    get:
      summary: Get Layout Health
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-layout-health
      description: Get Layout Health
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
  '/v1/plugin-toggle/{plugin-id}':
    post:
      summary: Toggle Plugin
      operationId: toggle-plugin-for-account
      description: Toggle Backstage Plugin
      responses:
        '200':
          $ref: '#/components/responses/AppConfigResponse'
      parameters:
        - schema:
            type: string
          in: header
          name: Harness-Account
          description: 'Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.'
        - $ref: '#/components/parameters/PluginName'
        - $ref: '#/components/parameters/Enabled'
      security:
        - x-api-key: []
      tags:
        - AppConfig
      x-internal: false
    parameters:
      - $ref: '#/components/parameters/PluginId'
  /v1/plugins-info:
    get:
      summary: List Available Plugins
      tags:
        - PluginInfo
      responses:
        '200':
          $ref: '#/components/responses/PluginInfoResponseList'
      operationId: get-plugins
      description: Get all plugins available
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
    post:
      summary: Save custom plugin info
      operationId: save-custom-plugins-info
      responses:
        '201':
          $ref: '#/components/responses/CustomPluginInfoResponse'
      x-stoplight:
        id: t4vsvfeuf169r
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/CustomPluginCreateRequest'
      tags:
        - PluginInfo
  '/v1/plugins-info/{plugin-id}':
    get:
      summary: Get Plugin
      tags:
        - PluginInfo
      responses:
        '200':
          $ref: '#/components/responses/PluginDetailedInfoResponse'
      operationId: get-plugins-info-plugin-id
      description: Get plugin details for given pluginId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Meta'
      x-internal: false
    put:
      summary: Update custom plugin info
      operationId: update-custom-plugins-info
      responses:
        '200':
          $ref: '#/components/responses/CustomPluginInfoResponse'
      x-stoplight:
        id: jt3xnyhpgnfe9
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CustomPluginInfoRequest'
      tags:
        - PluginInfo
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
    parameters:
      - $ref: '#/components/parameters/PluginId'
    delete:
      summary: Delete custom plugin info
      operationId: delete-custom-plugin-info
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: 1brpcp6chep0j
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PluginName'
      tags:
        - PluginInfo
  '/v1/custom-plugins/{plugin-id}/status':
    get:
      summary: Get Custom Plugin Status
      tags:
        - CustomPlugins
      responses:
        '200':
          $ref: '#/components/responses/CustomPluginStatusResponse'
      operationId: get-custom-plugin-status-plugin-id
      description: Get custom plugin status for given plugin_id
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      x-stoplight:
        id: 73sv7e774mwme
    parameters:
      - name: plugin-id
        in: path
        description: Plugin Identifier
        required: true
        schema:
          type: string
  /v1/custom-plugins/logs:
    get:
      summary: Get Custom Plugin Status Logs
      tags:
        - CustomPlugins
      responses:
        '200':
          description: Shared Response
          content:
            text/plain:
              schema:
                type: object
                properties: {}
      operationId: get-custom-plugin-status-logs
      description: Get custom plugin status logs
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AccountQuery'
        - $ref: '#/components/parameters/OrganisationIdentifier'
        - $ref: '#/components/parameters/ProjectIdentifier'
        - $ref: '#/components/parameters/PipelineIdentifier'
        - $ref: '#/components/parameters/LogKey'
      x-internal: true
      x-stoplight:
        id: uut237s84xf75
    parameters: []
  /v1/app-config:
    post:
      summary: Save Or Update Plugin Config
      operationId: save-or-update-plugin-app-config
      description: Save or Update Plugin Config
      responses:
        '200':
          $ref: '#/components/responses/AppConfigResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/AppConfigRequest'
      x-internal: false
      tags:
        - AppConfig
  /v1/connectors-info:
    get:
      summary: List Connectors Info
      tags:
        - ConnectorInfo
      responses:
        '200':
          $ref: '#/components/responses/ConnectorInfoResponseList'
      operationId: get-connectors-info
      description: Get all connectors info
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
  /v1/connector-info:
    get:
      summary: Get Connector Info
      tags:
        - ConnectorInfo
      operationId: get-connector-info
      responses:
        '200':
          $ref: '#/components/responses/ConnectorInfoResponse'
      description: Get Connector Info
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
    post:
      summary: Create or Update Connector Info
      tags:
        - ConnectorInfo
      operationId: save-connector-info
      responses:
        '201':
          $ref: '#/components/responses/ConnectorInfoResponse'
      description: Create or update connector info
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConnectorInfoRequest'
      x-internal: false
  '/v1/connector-info/{provider-type}':
    get:
      summary: Get Connector Info by Provider Type
      tags:
        - ConnectorInfo
      responses:
        '200':
          $ref: '#/components/responses/ConnectorInfoResponse'
      operationId: get-connector-info-by-providerType
      description: Get connector info by connector provider type
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProviderType'
      x-internal: false
  /v1/merged-plugins-config:
    get:
      summary: Retrieve Merged Config for Enabled Plugins.
      responses:
        '200':
          $ref: '#/components/responses/MergedPluginConfigResponse'
      operationId: get-merged-plugins-config
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      description: API for retriving merged configs for enabled plugin of account.
      tags:
        - MergedPluginsConfig
  /v1/backstage-plugins-info:
    get:
      summary: List Available Backstage Plugins
      tags:
        - PluginInfo
      responses:
        '200':
          $ref: '#/components/responses/PluginInfoResponseList'
      operationId: get-backstage-plugins
      description: Get all backstage plugins available
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
  /v1/plugin/request:
    post:
      summary: Request for a Plugin
      operationId: post-plugin-request
      responses:
        '201':
          description: Created
      tags:
        - PluginInfo
      description: Request for a Plugin
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RequestPluginRequest'
    get:
      summary: Get all plugin requests for an account
      operationId: get-plugin-request
      responses:
        '200':
          $ref: '#/components/responses/PluginRequestResponseList'
      tags:
        - PluginInfo
      x-internal: false
      description: Get all plugin requests for an account
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
  /v2/plugin/request:
    post:
      summary: Request for a Plugin V2
      operationId: create-plugin-request-v2
      responses:
        '201':
          description: Created
      tags:
        - PluginInfoV2
      description: Request for a Plugin V2
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RequestPluginRequestV2'
    get:
      summary: Get all plugin requests for an account V2
      operationId: get-plugin-request-v2
      responses:
        '200':
          $ref: '#/components/responses/PluginRequestResponseListV2'
      tags:
        - PluginInfoV2
      x-internal: false
      description: Get all plugin requests for an account V2
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
  '/v2/plugin/request/{plugin-id}':
    parameters:
      - $ref: '#/components/parameters/PluginId'
    put:
      summary: Update a plugin request status for an account V2
      operationId: update-plugin-request-v2
      responses:
        '200':
          $ref: '#/components/responses/PluginRequestResponseV2'
      tags:
        - PluginInfoV2
      x-internal: false
      description: Update a plugin request status for an account V2
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RequestPluginRequestStatusV2'
  /v1/layout/ingest:
    post:
      summary: Ingest plugin layout
      operationId: layout-ingest
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      tags:
        - LayoutProxy
      description: Ingest plugin layout
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutIngestRequest'
  /v1/onboarding/generate-yaml:
    post:
      summary: Generate YAML Definition for entity
      operationId: onboarding-generate-yaml
      responses:
        '200':
          $ref: '#/components/responses/GenerateYamlResponse'
      tags:
        - OnboardingResource
      x-internal: true
      description: Generate YAML Definition for entity
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GenerateYamlRequest'
  '/v1/auth-info/{auth-id}':
    get:
      summary: Get Auth Info
      tags:
        - AuthInfo
      responses:
        '200':
          $ref: '#/components/responses/AuthInfoResponse'
      operationId: get-auth-info-auth-id
      description: Get auth details for given authId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AuthId'
      x-internal: true
    post:
      summary: Save Auth Info
      tags:
        - AuthInfo
      operationId: save-auth-info-auth-id
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Save auth details for given authId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AuthId'
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackstageEnvVariableBatchRequest'
  /v1/allow-list:
    get:
      summary: Get backend url allow list
      tags:
        - AllowList
      responses:
        '200':
          $ref: '#/components/responses/AllowListResponse'
      operationId: get-allow-list
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      description: Get backend url allow list
    post:
      summary: Save backend url allow list
      description: Save backend url allow list
      tags:
        - AllowList
      operationId: save-allow-list
      responses:
        '201':
          $ref: '#/components/responses/AllowListResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowListRequest'
        description: Save backend url allow list
  /v1/configuration-entities:
    put:
      summary: Updates entities present in the configuration screen
      operationId: update-configuration-entities
      responses:
        '200':
          $ref: '#/components/responses/ConfigurationEntitiesResponse'
      description: Updates entities present in the configuration screen
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConfigurationEntitiesRequest'
      x-internal: true
      tags:
        - MergedPluginsConfig
      x-stoplight:
        id: 67gwj4u4mz6nb
  /v1/data-sources:
    get:
      summary: Get Datasources Present In Account
      tags:
        - DataSource
      responses:
        '200':
          $ref: '#/components/responses/DataSourcesResponse'
      operationId: get-all-datasources-for-account
      x-stoplight:
        id: vdsu1dzt8t3tz
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: API for getting all the datasources present in account.
      x-internal: false
      security:
        - x-api-key: []
  '/v1/data-sources/{data-source}/datapoints':
    parameters:
      - schema:
          type: string
        name: data-source
        in: path
        required: true
        description: Identifier for datasource
    get:
      summary: Get DataPoints present in DataSources for an account
      tags:
        - DataSource
      responses:
        '200':
          $ref: '#/components/responses/DatapointResponse'
      operationId: get-data-points-for-data-source
      x-stoplight:
        id: aogrjef7pusxj
      description: Get DataPoints Present in DataSources
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/scores/summary:
    get:
      summary: Get Score Summary for Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardSummaryInfoResponse'
      operationId: get-all-scorecard-summary
      x-stoplight:
        id: 6hoo6kwpvy1p8
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityIdentifier'
      x-internal: false
      tags:
        - Scores
    parameters: []
  /v1/scores:
    get:
      summary: Get Scores for Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardScoreResponse'
      operationId: get-scorecards-scores-overview
      x-stoplight:
        id: lpnl6xzlj655z
      security:
        - x-api-key: []
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityIdentifier'
      tags:
        - Scores
    parameters: []
  /v1/scores/aggregate:
    post:
      summary: Get Aggregated Scores for backstage entities
      responses:
        '200':
          $ref: '#/components/responses/EntityScoresResponseList'
      operationId: get-aggregated-scores
      x-stoplight:
        id: i14tbedz1cc8u
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScorecardFilter'
      x-internal: false
      tags:
        - Scores
  /v1/scores/graph:
    get:
      summary: Get Data for check status for graph
      responses:
        '200':
          $ref: '#/components/responses/ScorecardGraphSummaryResponse'
      operationId: get-scorecards-graphs-score-summary
      x-stoplight:
        id: 8pd67sxvs7wwe
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityIdentifier'
        - schema:
            type: string
          in: query
          name: scorecard_identifier
          description: 'Identifier for scorecard '
      security:
        - x-api-key: []
      tags:
        - Scores
    parameters: []
  /v1/scores/recalibrate:
    parameters: []
    post:
      summary: Trigger recalibration of scores for a scorecard
      operationId: scorecard-recalibrate
      responses:
        '200':
          $ref: '#/components/responses/ScorecardRecalibrateResponse'
      x-stoplight:
        id: 3px6djmawemwv
      description: API for Recalibrating the score for scorecard of entity
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ScorecardRecalibrateRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - Scores
  /v1/checks:
    get:
      summary: Get all checks available
      parameters:
        - $ref: '#/components/parameters/CheckType'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
      tags:
        - Checks
      x-stoplight:
        id: fybtgv0otf34d
      operationId: get-checks
      description: Get all checks available
      x-internal: false
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/CheckResponseList'
    post:
      summary: Create a custom check
      tags:
        - Checks
      operationId: create-check
      responses:
        '201':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: pzk9h0n0suta2
      description: Create a custom check
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDetailsRequest'
      x-internal: false
  '/v1/checks/{check-id}':
    get:
      summary: Get check details for given checkId
      tags:
        - Checks
      responses:
        '200':
          $ref: '#/components/responses/CheckDetailsResponse'
      operationId: get-check
      x-stoplight:
        id: 7n0j23984d2ep
      description: Get check details for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/CheckType'
      x-internal: false
    put:
      summary: Update check details for given checkId
      tags:
        - Checks
      operationId: update-check
      responses:
        '200':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: e6w24mxeru0p6
      description: Update check details for given checkId
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDetailsRequest'
    delete:
      summary: Delete check details for given checkId
      operationId: delete-check
      description: Delete check details for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/ForceDelete'
      x-internal: false
      responses:
        '204':
          description: No Content
      tags:
        - Checks
      x-stoplight:
        id: pgtm5cqq7zqmt
  '/v1/checks/{check-id}/stats':
    get:
      summary: Get check stats for given checkId
      tags:
        - Checks
      responses:
        '200':
          $ref: '#/components/responses/CheckStatsResponse'
      operationId: get-check-stats
      x-stoplight:
        id: x6f6yi2hkheeh
      description: Get check stats for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/CheckType'
  '/v1/checks/{check-id}/graph':
    get:
      summary: Get check graph data for given checkId
      tags:
        - Checks
      responses:
        '200':
          $ref: '#/components/responses/CheckGraphResponse'
      operationId: get-check-graph
      x-stoplight:
        id: x6f6yi2hkheeh
      description: Get check graph data for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/CheckType'
  /v1/scorecards:
    get:
      summary: Get all scorecards available
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponseList'
      operationId: get-scorecards
      x-stoplight:
        id: sd1pqx1g9pu0o
      description: Get all scorecards available
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Create scorecard
      tags:
        - Scorecards
      operationId: create-scorecard
      responses:
        '201':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: 7ky7v205witp4
      description: Create scorecard
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScorecardDetailsRequest'
      x-internal: false
  '/v1/scorecards/{scorecard-id}':
    get:
      summary: Get scorecard details for given scorecardId
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardDetailsResponse'
      operationId: get-scorecard
      description: Get scorecard details for given scorecardId
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
      x-stoplight:
        id: 7q992jg8e5lre
    put:
      summary: Update scorecard details for given scorecardId
      tags:
        - Scorecards
      operationId: update-scorecard
      responses:
        '200':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: zfrmn6vx8zk2x
      description: Update scorecard details for given scorecardId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScorecardDetailsRequest'
      x-internal: false
    delete:
      summary: Delete scorecard details for given scorecardId
      operationId: delete-scorecard
      description: Delete scorecard details for given scorecardId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
      x-internal: false
      responses:
        '204':
          description: No Content
      tags:
        - Scorecards
      x-stoplight:
        id: t4gtsw95rgoh8
  '/v1/scorecards/{scorecard-id}/stats':
    get:
      summary: Get scorecard stats for given scorecardId
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardStatsResponse'
      operationId: get-scorecard-stats
      x-stoplight:
        id: y6e6yo2hkheeh
      description: Get scorecard stats for given scorecardId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
  /v1/entity-facets:
    get:
      summary: Get all entity facets for given kind
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/EntityFiltersResponseBodyList'
      operationId: get-entity-facets
      x-stoplight:
        id: 8fjdnw2gtfpr7
      description: Get all entity facets for given kind
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CatalogKind'
  /v1/data-sources/harness/data-point/values:
    parameters: []
    post:
      summary: Get data points data for harness data source
      operationId: get-harness-data-point-values
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointInfoResponse'
      x-stoplight:
        id: fv69lcewj02rp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/DataSourceDataPointInfoRequest'
      x-internal: true
      tags:
        - HarnessDataPoints
  /v1/data-sources/data-points/map:
    get:
      summary: Get Data Sources and Data Points Map for Account
      tags:
        - DataSource
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointsMapResponse'
      operationId: get-data-sources-data-points-map
      x-stoplight:
        id: hxskmevkt524r
      description: API for getting the map of data sources and data points for account
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/data-sources/kubernetes/data-point/values:
    post:
      summary: Get data points data for kubernetes data source
      operationId: get-k8s-data-point-values
      tags:
        - KubernetesDataPoints
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointInfoResponse'
      x-stoplight:
        id: 9fg71j8suvpxn
      requestBody:
        $ref: '#/components/requestBodies/KubernetesConfigRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
  /v1/data-sources/scm/data-point/values:
    post:
      summary: Get data points data for scm data source
      operationId: get-scm-data-point-values
      tags:
        - ScmDataPoints
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointInfoResponse'
      x-stoplight:
        id: 9fi72j8suwpyn
      requestBody:
        $ref: '#/components/requestBodies/ScmConfigRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
  /v1/license/usage/save:
    post:
      summary: Save IDP module license usage
      operationId: idp-license-usage-save
      responses:
        '200':
          $ref: '#/components/responses/LicenseUsageSaveResponse'
      x-stoplight:
        id: 7ptx9noskc4vz
      x-internal: true
      description: Save IDP module license usage
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LicenseUsageResource
      requestBody:
        $ref: '#/components/requestBodies/LicenseUsageSaveRequest'
  /v2/scores/recalibrate:
    post:
      summary: Trigger recalibration of scores for a scorecard
      operationId: scorecard-recalibrate-v2
      responses:
        '202':
          $ref: '#/components/responses/ScorecardRecalibrateResponseV2'
      x-stoplight:
        id: 7bibsplzghpox
      description: API for triggering score recalibration for a scorecard
      tags:
        - ScoresV2
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ScorecardRecalibrateRequest'
      x-internal: true
  /v1/scores/recalibrate/status:
    get:
      summary: Get score recalibration status
      tags:
        - Scores
      responses:
        '200':
          $ref: '#/components/responses/ScorecardRecalibrateResponseV2'
      operationId: get-scores-recalibrate-status
      x-stoplight:
        id: 2qlp5rle9cmv8
      description: Get status of score computation request
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ScorecardRecalibrateRequest'
      x-internal: true
    parameters: []
  /v1/backstage-harness/sync:
    post:
      summary: Sync Backstage Entities as Harness Entities for all IDP enabled accounts
      tags:
        - BackstageHarness
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessSyncEntitiesResponse'
      operationId: backstage-harness-sync-all-accounts
      description: Syncs Backstage Entities as Harness Entities for all IDP enabled accounts
      x-internal: true
      security:
        - x-api-key: []
  /v1/backstage-harness/sync/for-account:
    post:
      summary: Sync Backstage Entities as Harness Entities for given account
      tags:
        - BackstageHarness
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessSyncEntitiesResponse'
      operationId: backstage-harness-sync-for-account
      description: Syncs Backstage Entities as Harness Entities for given account
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/backstage-harness/sync/for-entity:
    post:
      summary: Sync Backstage entity as Harness entity for given account and entity with specified action and sync mode
      tags:
        - BackstageHarness
      requestBody:
        $ref: '#/components/requestBodies/BackstageHarnessSyncRequest'
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessSyncEntitiesResponse'
      operationId: backstage-harness-sync-for-account-entity
      description: Sync Backstage entity as Harness entity for given account and entity with specified action and sync mode
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/backstage-harness/resolve-expressions:
    post:
      summary: Resolve expressions for given account and entity
      tags:
        - BackstageHarness
      requestBody:
        $ref: '#/components/requestBodies/BackstageHarnessResolveExpressionsRequest'
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessResolveExpressionsResponse'
      operationId: backstage-harness-resolve-expressions
      description: Resolve expressions for given account and entity
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/custom-plugins/{plugin-id}/trigger':
    post:
      summary: Trigger custom plugins build pipeline webhook
      tags:
        - CustomPlugins
      responses:
        '204':
          description: No Content
      operationId: custom-plugins-trigger
      x-stoplight:
        id: 02do3lkhs8v1a
      description: Trigger custom plugins build pipeline webhook
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
    parameters:
      - $ref: '#/components/parameters/PluginId'
  /v1/catalog/custom-properties:
    post:
      summary: Ingest catalog custom properties
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByFieldResponse'
      operationId: ingest-catalog-custom-properties
      x-stoplight:
        id: 3eczjage6lz9a
      x-internal: false
      description: Ingest catalog custom properties
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterRequest'
    parameters: []
    delete:
      summary: Delete catalog custom properties
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyDeleteByFieldResponse'
      operationId: delete-catalog-custom-properties
      x-stoplight:
        id: vb71p39cmv358
      description: Delete catalog custom properties
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterDeleteRequest'
  /v1/catalog/custom-properties/entity:
    get:
      summary: Get catalog custom properties for given entity
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByEntityGetResponse'
      operationId: get-catalog-custom-properties-by-entity
      x-stoplight:
        id: 3edqlaqe8lz9b
      x-internal: false
      description: Get catalog custom properties for given entity
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityRef'
    post:
      summary: Ingest catalog custom properties for given entity
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: ingest-catalog-custom-properties-by-entity
      x-stoplight:
        id: 3eczoaje6lz0g
      x-internal: false
      description: Ingest catalog custom properties for given entity
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityRequest'
    delete:
      summary: Delete catalog custom properties for given entity
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: delete-catalog-custom-properties-by-entity
      x-stoplight:
        id: vb71p39dmz358
      description: Delete catalog custom properties for given entity
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityDeleteRequest'
  /v1/catalog/custom-properties/property:
    get:
      summary: Get entities for given custom property
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByFieldGetResponse'
      operationId: get-entities-by-catalog-custom-property
      x-stoplight:
        id: 3edljble6lz9a
      x-internal: false
      description: Get entities for given custom property
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Property'
    post:
      summary: Ingest entities for given custom property
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: ingest-entities-by-catalog-custom-property
      x-stoplight:
        id: 3eczoaje6lz0g
      x-internal: false
      description: Ingest entities for given custom property
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldRequest'
    delete:
      summary: Delete entities for given custom property
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: delete-entities-by-catalog-custom-property
      x-stoplight:
        id: vb71p39dmz358
      description: Delete entities for given custom property
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldDeleteRequest'
  /v1/entity-refs:
    get:
      summary: Get all entityRefs for given search term
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/EntityRefsResponse'
      operationId: get-entity-refs
      x-stoplight:
        id: 8fjdnw3gtppr7
      description: Get all entityRefs for given search term
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/SearchTerm'
  '/v1/integrations/{integration}':
    get:
      summary: Get all integrations available
      tags:
        - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponseList'
      operationId: get-integrations
      x-stoplight:
        id: sd1pqx1p9pu0o
      description: Get all integrations available
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
    post:
      summary: Create integration
      tags:
        - Integrations
      operationId: create-integration
      responses:
        '201':
          $ref: '#/components/responses/IntegrationResponse'
      x-stoplight:
        id: 7ky8v205wqtp4
      description: Create integration
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/WriteValidation'
      requestBody:
        $ref: '#/components/requestBodies/IntegrationRequest'
      x-internal: false
    delete:
      summary: Delete integrations
      tags:
        - Integrations
      operationId: delete-integrations
      responses:
        '204':
          description: No Content
      description: Delete integrations
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
  '/v1/integrations/{integration}/{integration-id}':
    get:
      summary: Get integration details for given integrationId
      tags:
        - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponse'
      operationId: get-integration
      description: Get integration details for given integrationId
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/IntegrationIdentifier'
      x-stoplight:
        id: 7q983jg8e5lre
    put:
      summary: Update integration details for given integrationId
      tags:
        - Integrations
      operationId: update-integration
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponse'
      x-stoplight:
        id: zfrmn9vx8zk2x
      description: Update integration details for given integrationId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/IntegrationIdentifier'
        - $ref: '#/components/parameters/DryRun'
      requestBody:
        $ref: '#/components/requestBodies/IntegrationRequest'
      x-internal: false
  /v1/catalog/custom-properties/toggle:
    post:
      summary: Toggle catalog custom properties
      tags:
        - CatalogCustomProperties
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: toggle-catalog-custom-properties
      x-stoplight:
        id: mauaysqkou4g6
      x-internal: true
      security:
        - x-api-key: []
    parameters:
      - $ref: '#/components/parameters/Enabled'
      - $ref: '#/components/parameters/AccountHeader'
  /v1/app-config/merged:
    get:
      summary: Get Merged App Config for Account
      tags:
        - AppConfig
      responses:
        '200':
          description: Returns merged app config for account in string format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergedAppConfigResponse'
      operationId: get-merged-app-config-for-account
      x-stoplight:
        id: 7kjy12xrpqw8o
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v2/layout:
    get:
      summary: List Layouts v2
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-all-layouts-v2
      x-stoplight:
        id: g7yfcl5iw1jk0
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxyV2
  '/v1/groups/{group-identifier}':
    get:
      summary: Get Group Details
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
      operationId: get-group-details
      x-stoplight:
        id: nby8lq3g0vg27
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      x-internal: true
      tags:
        - Groups
    parameters:
      - schema:
          type: string
        name: group-identifier
        in: path
        required: true
    delete:
      summary: Delete a group
      responses:
        '204':
          description: No Content
      operationId: delete-group
      x-stoplight:
        id: up9xj9134iolf
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      x-internal: true
      tags:
        - Groups
  /v1/groups:
    get:
      summary: Get all groups for account
      responses:
        '200':
          $ref: '#/components/responses/GroupResponseList'
      operationId: get-all-groups-for-account
      x-stoplight:
        id: qi2aylcdl7t09
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      tags:
        - Groups
    post:
      summary: Save a group
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
      operationId: save-group
      x-stoplight:
        id: c6hf0g9o84pnc
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/GroupRequest'
      x-internal: true
      tags:
        - Groups
    put:
      summary: Update Groups
      responses:
        '200':
          $ref: '#/components/responses/GroupResponseList'
      operationId: update-groups
      x-stoplight:
        id: eaxiri07lz2kj
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/GroupRequestList'
      tags:
        - Groups
    parameters: []
  /v1/groups/workflows:
    get:
      summary: Get workflows for account
      tags:
        - Groups
      responses:
        '200':
          $ref: '#/components/responses/WorkflowsInfoResponse'
      operationId: get-workflows-for-account
      x-stoplight:
        id: czv3pmqlvtng4
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/SearchTerm'
    parameters: []
  /v1/home-page-layout:
    get:
      summary: Get Home Page Layout Details
      tags:
        - HomePageLayout
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutResponse'
      operationId: get-home-page-layout-info
      x-stoplight:
        id: 5qz0to5vb79zr
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Save Home Page Layout Details
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutResponse'
      operationId: save-home-page-layout-info
      x-stoplight:
        id: n3iaiocyjv0kh
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/HomePageLayoutRequest'
      tags:
        - HomePageLayout
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/home-page-layout/yaml:
    get:
      summary: Get yaml for home page layout
      tags:
        - HomePageLayout
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutYamlResponse'
      operationId: get-yaml-for-home-page-layout
      x-stoplight:
        id: 1zne0xmh0mj6o
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/home-page-layout/custom-card/{card-identifier}/quick-links/{quick-link-identifier}/icon':
    parameters:
      - schema:
          type: string
        name: card-identifier
        in: path
        required: true
      - schema:
          type: string
        name: quick-link-identifier
        in: path
        required: true
    delete:
      summary: Delete custom link card quick links icon
      tags:
        - HomePageLayout
      responses:
        '204':
          description: No Content
      operationId: delete-custom-link-card-quick-links
      x-stoplight:
        id: hovwmpqwogep9
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/home-page-layout/header/quick-links/{quick-link-identifier}/icon':
    parameters:
      - schema:
          type: string
        name: quick-link-identifier
        in: path
        required: true
    delete:
      summary: Delete header quick links icon
      tags:
        - HomePageLayout
      responses:
        '204':
          description: No Content
      operationId: delete-headers-quick-links-icon
      x-stoplight:
        id: 12si1vwf5qnvv
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/home-page-layout/card/{card-identifier}/icon':
    parameters:
      - schema:
          type: string
        name: card-identifier
        in: path
        required: true
    delete:
      summary: Delete card icon
      tags:
        - HomePageLayout
      responses:
        '204':
          description: No Content
      operationId: delete-home-page-layout-cards-icon
      x-stoplight:
        id: wgvh8oyencivj
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/home-page-layout/icon:
    delete:
      summary: Delete homepage layout icon
      tags:
        - HomePageLayout
      responses:
        '204':
          description: No Content
      operationId: delete-home-page-layout-icon
      x-stoplight:
        id: f7kbixtn6dju0
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/DeleteHomePageLayoutIconRequest'
  /v1/icons:
    get:
      summary: Get all the icons from bucket
      tags:
        - Icons
      responses:
        '200':
          $ref: '#/components/responses/IconsResponse'
      operationId: get-icons
      x-stoplight:
        id: el04hkkcc06ma
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    parameters: []
  /v1/entities:
    post:
      operationId: create-entity
      summary: Create a Entity
      description: Create an Entity.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/AccountHeader'
        - name: convert
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Converts Backstage style YAML to Harness entity YAML
        - name: dry_run
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Dry run validation of entity creation
      requestBody:
        $ref: '#/components/requestBodies/EntityRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/EntityResponseBody'
    get:
      operationId: get-entities
      summary: Get Entities
      description: Get Entities.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitWithRestriction'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
        - name: scopes
          description: Filter entities on the scopes
          in: query
          schema:
            type: string
        - name: entity_refs
          description: Entity refs on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: owned_by_me
          description: Filter entities owned by the user and the groups that the user is part of.
          in: query
          schema:
            type: boolean
        - name: favorites
          description: Filter entities that are marked as favorites for the user.
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/KindQueryParam'
        - name: type
          description: Types on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: owner
          description: Owners on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: lifecycle
          description: Lifecycles on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: tags
          description: Tags on which the Entities are filtered.
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBodyList'
  /v1/entities/groups:
    get:
      operationId: get-entities-groups
      x-internal: true
      summary: Get Entities Groups
      description: Get Entities Groups.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: search_on_entities
          in: query
          required: false
          schema:
            type: string
          description: This would be used to filter resources having attributes matching the search term on entities
        - name: search_on_groups
          in: query
          required: false
          schema:
            type: string
          description: This would be used to filter resources having attributes matching the search term on groups
        - name: scopes
          description: Filter entities on the scopes
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/KindQueryParam'
        - name: owned_by_me
          description: Filter entities owned by the user and the groups that the user is part of.
          in: query
          schema:
            type: boolean
        - name: favorites
          description: Filter entities that are marked as favorites for the user.
          in: query
          schema:
            type: boolean
        - name: type
          description: Types on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: owner
          description: Owners on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: lifecycle
          description: Lifecycles on which the Entities are filtered.
          in: query
          schema:
            type: string
        - name: tags
          description: Tags on which the Entities are filtered.
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EntitiesGroupsResponseBody'
  '/v1/entities/convert/{option}':
    post:
      operationId: convert-entity
      summary: Convert a Entity
      description: Convert an Entity.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: option
          in: path
          required: true
          schema:
            type: string
            enum:
              - backstage-to-harness
              - harness-to-backstage
          description: Convert option
      requestBody:
        $ref: '#/components/requestBodies/EntityRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/EntityConvertResponseBody'
  '/v1/entities/{scope}/{kind}/{identifier}':
    parameters:
      - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
      - $ref: '#/components/parameters/ScopeParam'
      - $ref: '#/components/parameters/KindParam'
      - $ref: '#/components/parameters/IdentifierParam'
    put:
      operationId: update-entity
      summary: Update a Entity
      description: Update an Entity.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EntityRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBody'
    delete:
      operationId: delete-entity
      summary: Delete a Entity
      description: Delete an Entity.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '204':
          description: No Content
    get:
      operationId: get-entity
      summary: Get Entity
      description: Get Entity.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBody'
  /v1/entities/kinds:
    parameters:
      - $ref: '#/components/parameters/AccountIdentifierQueryParam'
      - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
    get:
      operationId: get-entities-kinds
      summary: Get Entities Kinds
      description: Get Entities Kinds.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/EntityKindsResponseBody'
  /v1/entities/filters:
    parameters:
      - $ref: '#/components/parameters/AccountIdentifierQueryParam'
      - $ref: '#/components/parameters/KindQueryParam'
      - name: scopes
        description: Filter entities on the scopes
        in: query
        schema:
          type: string
    get:
      operationId: get-entities-filters
      summary: Get Entities Filters
      description: Get Entities Filters.
      tags:
        - Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/EntityFiltersResponseBodyList'
  /v1/entities/json-schema:
    parameters:
      - $ref: '#/components/parameters/KindQueryParam'
    get:
      operationId: get-json-schema
      summary: Get Entities Json Schema
      description: Get Entities Json Schema.
      tags:
        - Entities
      responses:
        '200':
          $ref: '#/components/responses/EntityJsonSchemaResponseBody'
  '/v1/entities/sync/{option}':
    post:
      summary: Sync Catalog Entites as Harness Entities
      tags:
        - Entities
      responses:
        '200':
          $ref: '#/components/responses/CatalogSyncEntitiesResponse'
      operationId: sync-catalog-entities
      x-stoplight:
        id: zy8uvt8shsybz
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: option
          in: path
          required: true
          schema:
            type: string
            enum:
              - backstage-to-harness
      requestBody:
        $ref: '#/components/requestBodies/CatalogSynRequest'
components:
  schemas:
    BackstageEnvVariable:
      title: BackstageEnvVariable
      x-stoplight:
        id: nxqrkraenk753
      type: object
      description: Backstage Env Variable
      discriminator:
        propertyName: type
        mapping:
          Config: '#/components/schemas/BackstageEnvConfigVariable'
          Secret: '#/components/schemas/BackstageEnvSecretVariable'
      x-examples: {}
      properties:
        identifier:
          type: string
          x-stoplight:
            id: qcqog9dhfhhtn
        env_name:
          type: string
          x-stoplight:
            id: 0br1k8e9y4vds
        created:
          type: integer
          x-stoplight:
            id: jnkz49ajqu2ep
          format: int64
        updated:
          type: integer
          x-stoplight:
            id: f7vn66lecbehz
          format: int64
        type:
          type: string
          x-stoplight:
            id: bkpapdothjik6
          description: This specifies the type of backstage env variable
          enum:
            - Config
            - Secret
      required:
        - env_name
        - type
    BackstageEnvSecretVariable:
      title: BackstageEnvSecretVariable
      x-stoplight:
        id: 3h8ht8pko3bgz
      x-discriminator-value: Secret
      allOf:
        - $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: qv79339cmwg5d
        - type: object
          properties:
            type:
              type: string
              enum:
                - Secret
            harness_secret_identifier:
              type: string
              x-stoplight:
                id: ah15yig0jo9yb
            is_deleted:
              type: boolean
              x-stoplight:
                id: uvmj7ylwufxzc
              default: false
          required:
            - type
            - harness_secret_identifier
      x-examples: {}
    BackstageEnvConfigVariable:
      title: BackstageEnvConfigVariable
      x-stoplight:
        id: cfxzxi44zeq3o
      x-discriminator-value: Config
      allOf:
        - $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: x9612fuvup1yq
        - type: object
          properties:
            type:
              type: string
              enum:
                - Config
            value:
              type: string
              x-stoplight:
                id: ae2vnipczbvso
          required:
            - type
            - value
      x-examples: {}
    BackstageEnvVariableRequest:
      x-stoplight:
        id: e7t9o0ci4dra4
      type: object
      properties:
        env_variable:
          $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: t8p54gz9pdy56
    BackstageEnvVariableBatchRequest:
      type: object
      x-stoplight:
        id: psykwh06yxbkz
      properties:
        env_variables:
          x-stoplight:
            id: mw78dt912nzqn
          type: array
          items:
            $ref: '#/components/schemas/BackstageEnvVariable'
            x-stoplight:
              id: i0vefhckdjymq
      required:
        - env_variables
    BackstageEnvVariableResponse:
      x-stoplight:
        id: np7bj0rjx6gb4
      type: object
      properties:
        env_variable:
          $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: ru3parenuqcu1
      required:
        - env_variable
    BackstagePermissions:
      title: BackstagePermissions
      x-stoplight:
        id: 72bfwtpdjs4gp
      type: object
      properties:
        identifer:
          type: string
        permissions:
          type: array
          items:
            type: string
        user_group:
          type: string
        user_groups:
          type: array
          items:
            type: string
        created:
          type: integer
          format: int64
        updated:
          type: integer
          format: int64
    BackstagePermissionsRequest:
      title: BackstagePermissionsRequest
      x-stoplight:
        id: bz71o9x8asb9x
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BackstagePermissions'
    BackstagePermissionsResponse:
      title: BackstagePermissionsResponse
      x-stoplight:
        id: 9jbg25376fnzb
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BackstagePermissions'
    StatusInfo:
      title: StatusInfo
      x-stoplight:
        id: ruez3ex7rum35
      type: object
      properties:
        current_status:
          type: string
          enum:
            - COMPLETED
            - RUNNING
            - PENDING
            - FAILED
            - NOT_FOUND
          x-stoplight:
            id: 8knrzjhaghevh
        reason:
          type: string
        updated_at:
          type: integer
          format: int64
          x-stoplight:
            id: 0pmjyab6nkwlz
    StatusInfoResponse:
      title: StatusInfoResponse
      x-stoplight:
        id: ve56lidgcjifs
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusInfo'
    StatusInfoRequest:
      title: StatusInfoRequest
      x-stoplight:
        id: f45q501vlt9iy
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusInfo'
    StatusInfoV2:
      title: StatusInfoV2
      x-stoplight:
        id: ygx956s72iibx
      type: object
      additionalProperties:
        $ref: '#/components/schemas/StatusInfo'
    NamespaceInfo:
      title: NamespaceInfo
      x-stoplight:
        id: sxxrqv7oorngr
      type: object
      description: Namespace response body content
      properties:
        account_identifier:
          type: string
          x-stoplight:
            id: hg3qtosqgdfhd
        namespace:
          type: string
    NamespaceMetadata:
      title: NamespaceMetadata
      x-stoplight:
        id: syxrqv7oprngz
      type: object
      description: Namespace Metadata
      properties:
        postgres_idp_v2_migration_completed:
          type: boolean
    NamespaceRequest:
      title: NamespaceRequest
      x-stoplight:
        id: f55q501vlx9iz
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/NamespaceMetadata'
    NamespaceResponse:
      $ref: '#/components/schemas/NamespaceInfo'
      x-stoplight:
        id: 4qd30h9fn9u7r
      description: Namespace response body
    CatalogConnectorInfo:
      title: CatalogConnectorInfo
      x-stoplight:
        id: wpk4fmntpbtlj
      type: object
      description: Details of IDP catalog connector
      properties:
        connector:
          $ref: '#/components/schemas/ConnectorDetails'
          x-stoplight:
            id: gep9rdz9yhwyy
        repo:
          type: string
        branch:
          type: string
        path:
          type: string
      required:
        - connector
        - repo
        - branch
        - path
    HarnessEntitiesCountResponse:
      title: HarnessEntitiesCountResponse
      x-stoplight:
        id: 2wzkhrjbcg4d5
      type: object
      x-examples: {}
      description: Response for harness entities count that can be imported to IDP
      properties:
        org_count:
          type: integer
          x-stoplight:
            id: gbvcwogico9cd
        project_count:
          type: integer
          x-stoplight:
            id: h7se69ebe6tn5
        service_count:
          type: integer
      required:
        - org_count
        - project_count
        - service_count
    HarnessEntitiesResponse:
      title: HarnessEntitiesResponse
      x-stoplight:
        id: fz2subwqrbh5p
      type: object
      x-examples: {}
      description: Response for harness entities mapping with backstage entities
      properties:
        harness_backstage_entities:
          x-stoplight:
            id: 29gtwmx9rtbtj
          type: array
          items:
            $ref: '#/components/schemas/HarnessBackstageEntities'
            x-stoplight:
              id: xljavofzn2x2t
      required:
        - harness_backstage_entities
    ImportEntitiesResponse:
      title: ImportEntitiesResponse
      x-stoplight:
        id: kvv6lxzsebamz
      type: object
      description: Response for import / save harness entities to IDP
      properties:
        status:
          type: string
      required:
        - status
    EntitiesForImport:
      title: EntitiesForImport
      x-stoplight:
        id: ruicl5da2sloc
      type: object
      description: Details of Harness Entities to import
      x-examples: {}
      properties:
        identifier:
          type: string
          minLength: 1
        entity_type:
          type: string
      required:
        - identifier
        - entity_type
    HarnessBackstageEntities:
      title: HarnessBackstageEntities
      x-stoplight:
        id: x43sybn2ad4n7
      type: object
      description: Harness entities mapping with backstage entities
      properties:
        name:
          type: string
        system:
          type: string
        owner:
          type: string
        type:
          type: string
        identifier:
          type: string
        entity_type:
          type: string
      required:
        - name
        - system
        - owner
        - type
        - identifier
        - entity_type
    ConnectorDetails:
      title: ConnectorDetails
      x-stoplight:
        id: ydmrv3krwpyvr
      type: object
      properties:
        identifier:
          type: string
        type:
          type: string
          enum:
            - Github
            - Gitlab
            - Bitbucket
            - AzureRepo
        message:
          type: string
      required:
        - identifier
        - type
      description: Connector details containing identifier and type
    LayoutResponse:
      title: LayoutResponse
      x-stoplight:
        id: 2oxnq9iinuf3b
      type: object
    PluginInfo:
      title: PluginInfo
      x-stoplight:
        id: rjdikftbwq4ku
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 08dcllgfdjnnf
        name:
          type: string
          x-stoplight:
            id: cs8sf1p0u0h6m
        created_by:
          type: string
          x-stoplight:
            id: muu0fnhfcfnq0
        icon_url:
          type: string
          x-stoplight:
            id: qi63qdmfx4ozx
        description:
          type: string
          x-stoplight:
            id: f3f9a3v15p8qx
        category:
          type: string
          x-stoplight:
            id: 2hcvvko282w2b
        source:
          type: string
          x-stoplight:
            id: 86jybcrx3x9hy
        image_url:
          type: string
        images:
          type: array
          x-stoplight:
            id: tn689mqkfth94
          items:
            x-stoplight:
              id: ybfwwjy9ere6h
            type: string
        documentation:
          type: string
          x-stoplight:
            id: g8pxx4u72mjyo
        core:
          type: boolean
          x-stoplight:
            id: h6xd4qngysrvl
        enabled:
          type: boolean
          x-stoplight:
            id: dye1mgrxvvkhj
        plugin_type:
          type: string
          x-stoplight:
            id: 3afv43ng1qibj
          enum:
            - DEFAULT
            - CUSTOM
            - MARKETPLACE
      required:
        - id
    PluginInfoResponse:
      title: PluginInfoResponse
      x-stoplight:
        id: bzim96q2jdydq
      type: object
      properties:
        plugin:
          $ref: '#/components/schemas/PluginInfo'
          x-stoplight:
            id: b8e9wv7c3q2hb
      required:
        - plugin
    PluginDetailedInfoResponse:
      title: PluginDetailedInfoResponse
      x-stoplight:
        id: yga377lrqvzo3
      type: object
      properties:
        plugin:
          $ref: '#/components/schemas/PluginDetailedInfo'
          x-stoplight:
            id: bge1kvlvygjky
      required:
        - plugin
    PluginDetailedInfo:
      title: PluginDetailedInfo
      x-stoplight:
        id: 4mgb2xlg0qmuz
      allOf:
        - $ref: '#/components/schemas/PluginDetails'
        - type: object
          properties:
            env_variables:
              x-stoplight:
                id: dbvndzvgirvhx
              type: array
              items:
                $ref: '#/components/schemas/BackstageEnvSecretVariable'
            saved:
              type: boolean
              x-stoplight:
                id: zc7gzaskute7h
            proxy:
              x-stoplight:
                id: iihf5kiywsyft
              type: array
              items:
                $ref: '#/components/schemas/ProxyHostDetail'
          required:
            - env_variables
            - saved
    LayoutRequest:
      title: LayoutRequest
      x-stoplight:
        id: n3rez2nr7kmq8
      type: object
      description: LayoutRequest
      properties:
        name:
          type: string
          x-stoplight:
            id: 62gmaga7buqi8
        id:
          type: string
          x-stoplight:
            id: z450ysix2zvwr
        yaml:
          type: string
          x-stoplight:
            id: ukdiglik4ggu9
        display_name:
          type: string
          x-stoplight:
            id: s2pk8alyj2gu9
        default_yaml:
          type: string
          x-stoplight:
            id: phhefjzpsdh1n
        type:
          type: string
          x-stoplight:
            id: i20q57lnsmop8
        description:
          type: string
          x-stoplight:
            id: rimdwvq34bwdc
        entity_kind:
          type: string
          x-stoplight:
            id: qj3ydvu3g8xhr
        entity_type:
          type: string
          x-stoplight:
            id: i8m5u5ny2oetw
        created_by:
          $ref: '#/components/schemas/User'
        updated_by:
          $ref: '#/components/schemas/User'
        harness_managed:
          type: boolean
          x-stoplight:
            id: 2a0s47mlzxd86
    AppConfig:
      title: AppConfig
      x-stoplight:
        id: ts8hhn08e9vs2
      type: object
      x-examples: {}
      properties:
        config_id:
          type: string
          x-stoplight:
            id: kba02ulkoob1v
        configs:
          type: string
          x-stoplight:
            id: xu807wjtsvqdt
        enabled:
          type: boolean
          x-stoplight:
            id: ogzhdfovajswl
        enabled_disabled_at:
          type: integer
          x-stoplight:
            id: 8j2nftcvualpg
          format: int64
        created:
          type: integer
          x-stoplight:
            id: i50aktg8l2epd
          format: int64
        updated:
          type: integer
          x-stoplight:
            id: gal7ubavtkx3x
          format: int64
        env_variables:
          type: array
          x-stoplight:
            id: mc8b52k1x79v6
          items:
            $ref: '#/components/schemas/BackstageEnvSecretVariable'
        config_name:
          type: string
          x-stoplight:
            id: 78nnii26gge61
        proxy:
          type: array
          x-stoplight:
            id: 1lk21ekhaopkw
          items:
            $ref: '#/components/schemas/ProxyHostDetail'
      required:
        - config_id
        - configs
        - env_variables
        - config_name
    AppConfigRequest:
      title: AppConfigRequest
      x-stoplight:
        id: 8u5xpqsuu97n7
      type: object
      properties:
        app_config:
          $ref: '#/components/schemas/AppConfig'
          x-stoplight:
            id: qrcvsst79yc3s
      required:
        - app_config
    AppConfigResponse:
      title: AppConfigResponse
      x-stoplight:
        id: mc5yfk7d3r4ba
      type: object
      properties:
        app_config:
          $ref: '#/components/schemas/AppConfig'
          x-stoplight:
            id: puouuvu1gjvy9
      required:
        - app_config
    ConnectorInfoRequest:
      title: ConnectorInfoRequest
      x-stoplight:
        id: 5y4kxxar10u79
      type: object
      properties:
        connector_details:
          $ref: '#/components/schemas/ConnectorDetails'
          x-stoplight:
            id: cwhdaxsijquis
    ConnectorInfoResponse:
      title: ConnectorInfoResponse
      x-stoplight:
        id: crky8aoeysb9z
      type: object
      properties:
        connector_details:
          $ref: '#/components/schemas/ConnectorDetails'
          x-stoplight:
            id: j9y6qs9p3gym7
      required:
        - connector_details
    Exports:
      title: Exports
      x-stoplight:
        id: krtrvpv2bw4rh
      type: object
      properties:
        pages:
          type: integer
          x-stoplight:
            id: z2sng2p0ckvs4
          default: 0
        tab_contents:
          type: integer
          x-stoplight:
            id: tv8hce8pm873b
          default: 0
        cards:
          type: integer
          x-stoplight:
            id: gvkk56i32twnh
          default: 0
        default_entity_types:
          type: array
          x-stoplight:
            id: jfdg348v4fwk7
          items:
            x-stoplight:
              id: zvqn4vs5z9xa8
            type: string
        export_details:
          x-stoplight:
            id: entxahp0fgx74
          type: array
          items:
            $ref: '#/components/schemas/ExportDetails'
            x-stoplight:
              id: 0sb28udqqiknj
      required:
        - pages
        - tab_contents
        - cards
        - default_entity_types
        - export_details
    MergedPluginConfigs:
      title: MergedPluginConfigs
      x-stoplight:
        id: udd3rjj6vabp6
      type: object
      description: Merged Config for all Enabled Plugins.
      properties:
        config:
          type: string
          x-stoplight:
            id: 1xlvst25jqan6
        env_variables:
          type: array
          x-stoplight:
            id: 626hhepixlmvj
          items:
            $ref: '#/components/schemas/BackstageEnvSecretVariable'
        proxy:
          type: array
          x-stoplight:
            id: 9nyhtn38boka8
          items:
            $ref: '#/components/schemas/ProxyHostDetail'
      required:
        - config
        - env_variables
        - proxy
    MergedPluginConfigResponse:
      title: MergedPluginConfigResponse
      x-stoplight:
        id: ze6z3c1qi8cdy
      type: object
      description: Merged Config for all Enabled Plugins Response.
      properties:
        merged_config:
          $ref: '#/components/schemas/MergedPluginConfigs'
          x-stoplight:
            id: syzo1w7sp9ent
      required:
        - merged_config
    RequestPlugin:
      x-stoplight:
        id: r5zm7ltki4p8f
      type: object
      title: RequestPluginRequest
      description: Details of the plugin being requested
      properties:
        name:
[...]
